In [3]:
import pandas as pd

In [13]:
Mgr_BCS_1 = r".\BCS_Mgr1.csv"
df1 = pd.read_csv(Mgr_BCS_1, encoding='utf-8', low_memory=False)

In [12]:
df = pd.read_csv(r".\BCS_Mgr1.csv")

df.iloc[:,0]

0      Eng_BCS_1
1      Eng_BCS_2
2      Eng_BCS_3
3      Eng_BCS_4
4      Eng_BCS_5
5      Eng_BCS_6
6      Eng_BCS_7
7      Eng_BCS_8
8      Eng_BCS_9
9     Eng_BCS_10
10    Eng_BCS_11
11    Eng_BCS_12
Name: EngNames, dtype: object

In [3]:
df.head()

,EngNames,Manager,1,2,3,4,5,6,7,8,...,46,47,48,49,50,51,52,53,54,55
0,Eng_BCS_1,Mgr_BCS_1,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram,...,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram
1,Eng_BCS_2,Mgr_BCS_1,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram,...,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram
2,Eng_BCS_3,Mgr_BCS_1,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram,...,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram
3,Eng_BCS_4,Mgr_BCS_1,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram,...,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram
4,Eng_BCS_5,Mgr_BCS_1,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram,...,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram

In [4]:
index1 = df[df['EngNames'] == 'Eng_BCS_5'].index

In [5]:
index1
print(type(index1))
index1

<class 'pandas.core.indexes.base.Index'>

Index([4], dtype='int64')

In [6]:
df.iloc[index1[0], 2:6] = ["program2"]* (6-2)

In [7]:
df.head()

,EngNames,Manager,1,2,3,4,5,6,7,8,...,46,47,48,49,50,51,52,53,54,55
0,Eng_BCS_1,Mgr_BCS_1,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram,...,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram
1,Eng_BCS_2,Mgr_BCS_1,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram,...,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram
2,Eng_BCS_3,Mgr_BCS_1,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram,...,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram
3,Eng_BCS_4,Mgr_BCS_1,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram,...,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram
4,Eng_BCS_5,Mgr_BCS_1,program2,program2,program2,program2,NoProgram,NoProgram,NoProgram,NoProgram,...,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram

In [8]:
df.to_csv(r"C:\Users\Hp\Documents\resourcedemand\BCS_Mgr1.csv", index=False)

In [9]:
df1= pd.read_csv(r"C:\Users\Hp\Documents\resourcedemand\BCS_Mgr1.csv")
df1.head()

,EngNames,Manager,1,2,3,4,5,6,7,8,...,46,47,48,49,50,51,52,53,54,55
0,Eng_BCS_1,Mgr_BCS_1,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram,...,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram
1,Eng_BCS_2,Mgr_BCS_1,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram,...,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram
2,Eng_BCS_3,Mgr_BCS_1,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram,...,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram
3,Eng_BCS_4,Mgr_BCS_1,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram,...,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram
4,Eng_BCS_5,Mgr_BCS_1,program2,program2,program2,program2,NoProgram,NoProgram,NoProgram,NoProgram,...,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram

In [10]:
val_streams = {"FCS" :["Mgr_FCS_1","Mgr_FCS_2","Mgr_FCS_3"],"BCS" : ["Mgr_BCS_1","Mgr_BCS_2","Mgr_BCS_3"],"MCS" : ["Mgr_MCS_1","Mgr_MCS_2","Mgr_MCS_3"],"EngServices": ["Mgr_EngSv_1"]}
val_streams_mgrs = [x for (k,v) in val_streams.items() for x in v]

In [11]:
val_streams_mgrs

['Mgr_FCS_1',
 'Mgr_FCS_2',
 'Mgr_FCS_3',
 'Mgr_BCS_1',
 'Mgr_BCS_2',
 'Mgr_BCS_3',
 'Mgr_MCS_1',
 'Mgr_MCS_2',
 'Mgr_MCS_3',
 'Mgr_EngSv_1']

In [66]:
df_i = pd.read_csv(r"C:\Users\Hp\Documents\resourcedemand\Mgr_BCS_1.csv")
df_i.head()

,EngNames,Manager,1,2,3,4,5,6,7,8,...,46,47,48,49,50,51,52,53,54,55
0,Eng_BCS_1,Mgr_BCS_1,Prg1_BCS_Ele,Prg1_BCS_Ele,Prg1_BCS_Ele,Prg1_BCS_Ele,Prg1_BCS_Ele,Prg1_BCS_Ele,Prg1_BCS_Ele,Prg1_BCS_Ele,...,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram
1,Eng_BCS_2,Mgr_BCS_1,Prg1_BCS_Ele,Prg1_BCS_Ele,Prg1_BCS_Ele,Prg1_BCS_Ele,Prg1_BCS_Ele,Prg1_BCS_Ele,Prg1_BCS_Ele,Prg1_BCS_Ele,...,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram
2,Eng_BCS_3,Mgr_BCS_1,Prg1_BCS_Ele,Prg1_BCS_Ele,Prg1_BCS_Ele,Prg1_BCS_Ele,Prg1_BCS_Ele,Prg1_BCS_Ele,Prg1_BCS_Ele,Prg1_BCS_Ele,...,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram
3,Eng_BCS_4,Mgr_BCS_1,Prg1_BCS_Mech,Prg1_BCS_Mech,Prg1_BCS_Mech,Prg1_BCS_Mech,Prg1_BCS_Mech,Prg1_BCS_Mech,Prg1_BCS_Mech,Prg1_BCS_Mech,...,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram
4,Eng_BCS_5,Mgr_BCS_1,Prg1_BCS_Mech,Prg1_BCS_Mech,Prg1_BCS_Mech,Prg1_BCS_Mech,Prg1_BCS_Mech,Prg1_BCS_Mech,Prg1_BCS_Mech,Prg1_BCS_Mech,...,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram

In [67]:
import numpy as np

In [68]:
df_p = df_i.iloc[:, 2:]

In [69]:
df_p.head()

,1,2,3,4,5,6,7,8,9,10,...,46,47,48,49,50,51,52,53,54,55
0,Prg1_BCS_Ele,Prg1_BCS_Ele,Prg1_BCS_Ele,Prg1_BCS_Ele,Prg1_BCS_Ele,Prg1_BCS_Ele,Prg1_BCS_Ele,Prg1_BCS_Ele,Prg1_BCS_Ele,Prg1_BCS_Ele,...,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram
1,Prg1_BCS_Ele,Prg1_BCS_Ele,Prg1_BCS_Ele,Prg1_BCS_Ele,Prg1_BCS_Ele,Prg1_BCS_Ele,Prg1_BCS_Ele,Prg1_BCS_Ele,Prg1_BCS_Ele,Prg1_BCS_Ele,...,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram
2,Prg1_BCS_Ele,Prg1_BCS_Ele,Prg1_BCS_Ele,Prg1_BCS_Ele,Prg1_BCS_Ele,Prg1_BCS_Ele,Prg1_BCS_Ele,Prg1_BCS_Ele,Prg1_BCS_Ele,Prg1_BCS_Ele,...,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram
3,Prg1_BCS_Mech,Prg1_BCS_Mech,Prg1_BCS_Mech,Prg1_BCS_Mech,Prg1_BCS_Mech,Prg1_BCS_Mech,Prg1_BCS_Mech,Prg1_BCS_Mech,Prg1_BCS_Mech,Prg1_BCS_Mech,...,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram
4,Prg1_BCS_Mech,Prg1_BCS_Mech,Prg1_BCS_Mech,Prg1_BCS_Mech,Prg1_BCS_Mech,Prg1_BCS_Mech,Prg1_BCS_Mech,Prg1_BCS_Mech,Prg1_BCS_Mech,Prg1_BCS_Mech,...,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram,NoProgram

In [70]:
df_p_t = df_p.T

In [71]:
df_p_t.head()

,0,1,2,3,4,5,6,7,8,9,10,11
1,Prg1_BCS_Ele,Prg1_BCS_Ele,Prg1_BCS_Ele,Prg1_BCS_Mech,Prg1_BCS_Mech,Prg1_BCS_Mech,Prg2_BCS_Ele,Prg2_BCS_Ele,Prg2_BCS_Ele,Prg2_BCS_Mech,Prg2_BCS_Mech,Prg2_BCS_Mech
2,Prg1_BCS_Ele,Prg1_BCS_Ele,Prg1_BCS_Ele,Prg1_BCS_Mech,Prg1_BCS_Mech,Prg1_BCS_Mech,Prg2_BCS_Ele,Prg2_BCS_Ele,Prg2_BCS_Ele,Prg2_BCS_Mech,Prg2_BCS_Mech,Prg2_BCS_Mech
3,Prg1_BCS_Ele,Prg1_BCS_Ele,Prg1_BCS_Ele,Prg1_BCS_Mech,Prg1_BCS_Mech,Prg1_BCS_Mech,Prg2_BCS_Ele,Prg2_BCS_Ele,Prg2_BCS_Ele,Prg2_BCS_Mech,Prg2_BCS_Mech,Prg2_BCS_Mech
4,Prg1_BCS_Ele,Prg1_BCS_Ele,Prg1_BCS_Ele,Prg1_BCS_Mech,Prg1_BCS_Mech,Prg1_BCS_Mech,Prg2_BCS_Ele,Prg2_BCS_Ele,Prg2_BCS_Ele,Prg2_BCS_Mech,Prg2_BCS_Mech,Prg2_BCS_Mech
5,Prg1_BCS_Ele,Prg1_BCS_Ele,Prg1_BCS_Ele,Prg1_BCS_Mech,Prg1_BCS_Mech,Prg1_BCS_Mech,Prg2_BCS_Ele,Prg2_BCS_Ele,Prg2_BCS_Ele,Prg2_BCS_Mech,Prg2_BCS_Mech,Prg2_BCS_Mech

In [72]:
#df_p_t=df_p_t.apply(pd.value_counts, axis=1).fillna(0).astype(int)
df_p_t = df_p_t.apply(pd.Series.value_counts, axis=1).fillna(0).astype(int)

df_p_t.head()

   NoProgram  Prg1_BCS_Ele  Prg1_BCS_Mech  Prg2_BCS_Ele  Prg2_BCS_Mech
1          0             3              3             3              3
2          0             3              3             3              3
3          0             3              3             3              3
4          0             3              3             3              3
5          0             3              3             3              3

In [73]:
df_p_t = df_p_t.drop(columns=['NoProgram'], errors='ignore')

In [74]:
df_p_t.head()

   Prg1_BCS_Ele  Prg1_BCS_Mech  Prg2_BCS_Ele  Prg2_BCS_Mech
1             3              3             3              3
2             3              3             3              3
3             3              3             3              3
4             3              3             3              3
5             3              3             3              3

In [75]:
idx = df_p_t.index

In [76]:
idx

Index(['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13',
       '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25',
       '26', '27', '28', '29', '30', '31', '32', '33', '34', '35', '36', '37',
       '38', '39', '40', '41', '42', '43', '44', '45', '46', '47', '48', '49',
       '50', '51', '52', '53', '54', '55'],
      dtype='object')

In [27]:
df_w = pd.DataFrame({
    'A': ['apple', 'banana', 'apple'],
    'B': ['banana', 'banana', 'apple'],
    'C': ['apple', 'apple', 'banana']
})
df_w

        A       B       C
0   apple  banana   apple
1  banana  banana   apple
2   apple   apple  banana

In [29]:
print(df_w.apply(pd.value_counts, axis=1).fillna(0).astype(int))

   apple  banana
0      2       1
1      1       2
2      2       1

C:\Users\Hp\AppData\Local\Temp\ipykernel_15552\3150603525.py:1: FutureWarning: pandas.value_counts is deprecated and will be removed in a future version. Use pd.Series(obj).value_counts() instead.
  print(df_w.apply(pd.value_counts, axis=1).fillna(0).astype(int))
C:\Users\Hp\AppData\Local\Temp\ipykernel_15552\3150603525.py:1: FutureWarning: pandas.value_counts is deprecated and will be removed in a future version. Use pd.Series(obj).value_counts() instead.
  print(df_w.apply(pd.value_counts, axis=1).fillna(0).astype(int))
C:\Users\Hp\AppData\Local\Temp\ipykernel_15552\3150603525.py:1: FutureWarning: pandas.value_counts is deprecated and will be removed in a future version. Use pd.Series(obj).value_counts() instead.
  print(df_w.apply(pd.value_counts, axis=1).fillna(0).astype(int))